/* font-family: 'Shrikhand', cursive;
font-family: 'Just Another Hand', cursive;
font-family: 'McLaren', cursive;
font-family: 'Inconsolata', monospace; */

#app-info {
  background-color: #00000000;
  box-shadow: none;


}
#addbtn {
  z-index: 1;
  text-align: center;
  background-color: #00000000;
  width: 50vw;
  margin-top: 8rem;
  
}

#helpbtn {
  display: none;
  z-index: 1;
  position: absolute;
  width: 25vw;
  /* margin-left: 90%; */
  background-color: #00000000;
  
} 

#foodbtn, #allbtn {
  z-index: 1;
  background-color: #00000000;
  text-align: center;
  width: 25vw;
}

#drinksbtn {
  z-index: 1;
  /* margin-top: 20vh; */
 text-align: center;
  background-color: #00000000;
  width: 25vw;
}

@media only screen and (min-width: 601px) {

.list-group-item {
  line-height: 2.5;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "HKGroteskRegular", Roboto, sans-serif; */
  background-color: black;
}
h1 {
  font-family: 'Just Another Hand', cursive;
  font-size: 5rem;
  text-shadow: 2px 2px #00cccc;
}
h3{
  font-family: 'Just Another Hand', cursive;
  font-size: 3rem;
  color: #00cccc;
  text-shadow: 1px 1px black;

}
h4{
  font-family: 'Just Another Hand', cursive;
  font-size: 2rem;
}

#helpicon {
  /* font-size: 3rem; */
  color: cyan;
}

#formblock {
  position: absolute;
  top: 35vh;
  left: 60vw;
  padding-left: auto;
  padding-right: auto;
  width: 35vw;

}

.select-dropdown {
  color: white; /* no need for !important :) */
}

#modal2 {
  max-height: 25vh;
  overflow: visible;
}


#map {
  /* position: absolute; */
  /* clear: both; */
  /* float: left; */
  top: 0;
  height: 100vh;
  bottom: 0;
  /* width: 50vw; */
  z-index: 0;
}



#titleblock {
  color: cyan;
  background-color: black;
  z-index: 1;
  text-align: center;
  width: 50vw;
  margin-top: 3rem;
 
}

#description {
  /* width: 100px; */
  /* width: 50; */
  color: white;
  /* float: right; */
  margin: 1rem 10rem 1rem 12rem
  
}

.geocoder {
  width: 100%;
  background-color: black;
  /* bottom: 10px; */
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  /* background-color: black; */

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Inconsolata', monospace;
}

#display-form {
  height: 90vh;
  background-color: black
}

#locationinput {
  /* height: 100vh; */
}

}

@media only screen and (max-width: 600px) {
  #formblock {
    display: none;
  }

  
  body {
    margin: 0;
    padding: 0;
    background: #000000;
  }
  h1 {
    font-family: 'Just Another Hand', cursive;
    font-size: 5rem;
  }

  h3{
    font-family: 'Just Another Hand', cursive;
    font-size: 3rem;
    color: #00cccc;
    text-shadow: 1px 1px black;
  
  }
  h4{
    font-family: 'Just Another Hand', cursive;
    font-size: 2rem;
  }
  
  #map {
    position: absolute;
    top: 0;
    height: 100vh;
    bottom: 0;
    width: 100vh;
    z-index: -1;
  }

  
  #addbtn {
   display: block;
  z-index: 1;
  /* text-align: center; */
  /* background-color: #00000000; */
  align-content: center;
  position: absolute;
  /* color: cyan; */
  width: 100vw;
  margin-top: 25rem;
  background-color: rgb(0, 185, 185);
  

  
}

#drinksbtn, #foodbtn, #allbtn {
  background-color: rgb(0, 185, 185);
}

  #helpbtn {
    /* position: absolute; */
    left: 0;
    bottom: 0;
    display: block;
    background-color: rgb(0, 185, 185);
    
    /* color: cyan; */
    /* font-size: 6rem; */
  }

  #titleblock {
    display: inline-block;
    color: cyan;
    background-color: black;
    height: 18vh;
    width: 100vw;
    /* margin-top: 0%; */
    /* margin-left: 0vw; */
    padding-left: auto;
    text-align: center;
    z-index: 1;

  }

  #description {
    display: none;
  }
  }